{% extends 'base.html' %}
{% load static %}

{% block  contentFormCli %}
    <div class="bg-body-tertiary p-5 rounded">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>{{titulo}}</h3>
                </div>
                <div class="col">
                    <a class="btn btn-outline-secondary rounded-circle p-1 lh-1" href="{% url 'Lista Clientes'%}" role="button">x</a>
                </div>
                <form method="POST" actions=""> {% csrf_token %}
                        
                    {{form_cli.as_p}}
                    <a class="btn btn-outline-secondary" href="{% url 'Lista Clientes'%}" role="button">Volver</a>
                    <input class="btn btn-primary" type="submit" value="Guardar"/>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock %}

<script src="{% static '/js/bootstrap.min.js'%}" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>