{% extends 'base.html' %}
    
{% block  contentLlamador %}
     <div class="container">
        <div class="row">
            <div class="col bg-body-tertiary p-5 rounded m-5">
                <h1 class="text-center">CAJA</h1>
                <h1 class="display-1 text-center">
                    A1
                </h1>
            </div>
            <div class="col bg-body-tertiary p-5 rounded m-5">
                <h1 class="text-center">SECRETARIA</h1>
                <h1 class="display-1 text-center">B1</h1>
            </div>
        </div>
    </div>
{% endblock contentLlamador%}