{% extends 'base.html' %}


{% block usuariosContent %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Lista de Usuarios</h1>
            </div>
            <div class="col-md-4 offset-md-4">
                <a name="" id="" class="btn btn-primary" href="{% url 'Usuarios'%}" role="button">Nuevo</a>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>email</th>
                <th>Fecha de alta</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for lista in turnos %}
                <tr>
                    <td>{{ lista.usuario }}</td>
                    <td>{{ lista.nombre }}</td>
                    <td>{{ lista.apellido }}</td>
                    <td>{{ lista.email }}</td>
                    <td>{{ lista.fecha_alta }}</td>
                    <td>{{ lista.activo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
