{% extends 'base.html' %}


{% block clientesContent %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Lista de clientes</h1>
            </div>
            <div class="col-md-4 offset-md-4">
                <a name="" id="" class="btn btn-primary" href="{% url 'Clientes'%}" role="button">Nuevo</a>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID Cliente</th>
                <th>Nombre</th>
                <th>CI</th>
                <th>RUC</th>
                <th>Fecha de nacimiento</th>
                <th>Corporativo</th>
                <th>Discapacitado</th>
                <th>Teléfono</th>
                <th>Sexo</th>
                <th>Activo</th>
                <th>ID Nivel</th>
                <th>Usuario que cargó</th>
                <th>Fecha de creación</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id_cliente }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.ci }}</td>
                    <td>{{ cliente.ruc }}</td>
                    <td>{{ cliente.fecha_nacimiento }}</td>
                    <td>{{ cliente.corporativo }}</td>
                    <td>{{ cliente.discapacitado }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.sexo }}</td>
                    <td>{{ cliente.activo }}</td>
                    <td>{{ cliente.id_nivel }}</td>
                    <td>{{ cliente.user_insert }}</td>
                    <td>{{ cliente.fecha_alta }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
