{% extends 'base.html' %}

{% block turnosContent %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Lista de Turnos</h1>
            </div>
            <div class="col-md-4 offset-md-4">
                <a name="" id="" class="btn btn-primary" href="{% url 'Turnos'%}" role="button">Nuevo</a>
            </div>
        </div>
    </div>
    <table>
        <thead>
          <tr>
            <th>ID de turno</th>
            <th>ID de servicio</th>
            <th>ID de cliente</th>
          </tr>
        </thead>
        <tbody>
          {% for turno in turnos %}
          <tr>
            <td>{{ turno.id_turno }}</td>
            <td>{{ turno.id_servicio }}</td>
            <td>{{ turno.id_cliente }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}