<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'Inicio' %}">Turnero</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Lista Turnos' %}">Turnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Lista Clientes' %}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Servicios' %}">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Estados' %}">Estados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Niveles' %}">Niveles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Cambios' %}">Cambios de Estado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Usuarios' %}">Usuarios</a>
        </li>
      </ul>
      {% comment %} <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
  </div>
</nav>