{% extends 'base.html' %}

{% block  contentFormSer %}
    <div class="bg-body-tertiary p-5 rounded">
        <h3>{{titulo}}</h3>
  
        <form method="POST" actions=""> {% csrf_token %}
            {{form_ser.as_p}}
            <input type="submit" value="Guardar"/>
        </form>
    </div>
{% endblock %}
