{% extends 'base.html' %}

{% block  contentFormUsu %}
    <div class="bg-body-tertiary p-5 rounded">
        <h3>{{titulo}}</h3>
  
        <form method="POST" actions=""> {% csrf_token %}
            {{form_usu.as_p}}
            <a class="btn btn-outline-secondary" href="{% url 'Lista Usuarios'%}" role="button">Volver</a>
            <input class="btn btn-primary" type="submit" value="Guardar"/>
        </form>
    </div>
{% endblock %}